* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .homeMain {
    width: 100vw;
    height: 100vh;
    background: url(../pictures/dogbg.jpg)  no-repeat center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .homeHeader{
    width: 100vw;
    height: 10vh;
    background: url(../pictures/dogHeader.jpg)  no-repeat center fixed;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .homeBody{
    width: 100vw;
    min-height: 90vh;
    background: url(../pictures/dogbg.jpg)  no-repeat center fixed;
    background-size: cover;
  }
  .dropdownStyle{
    width: 15vw;
    height: 5vh;
    outline: none;
    border: none;
    box-shadow: 0 0 10px 8px rgb(200, 196, 196);
    background-color: transparent;
    border-radius: 5px;
    padding: 5px;
  }
  @media only screen and (max-width: 500px) and (min-width: 300px) {
    .homeHeader{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .homeHeader .dropdownStyle{
      width: 40%;
      height: 50%;
    }
  }
  @media only screen and (max-width: 750px) and (min-width: 501px) {
    .homeHeader .dropdownStyle{
      width: 25%;
      height: 50%;
    }
  }
  @media only screen and (max-width: 1000px) and (min-width: 751px) {
    .homeMain {
      width: 100vw;
      height: 100vh;
      background: url(../pictures/dogbg.jpg)  no-repeat center fixed;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
    .homeHeader{
      width: 100vw;
      height: 10vh;
      background: url(../pictures/dogHeader.jpg)  no-repeat center fixed;
      background-size: cover;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }
    .homeBody{
      width: 100vw;
      min-height: 90vh;
      background: url(../pictures/dogbg.jpg)  no-repeat center fixed;
      background-size: cover;
    }
    .dropdownStyle{
      width: 15vw;
      height: 5vh;
      outline: none;
      border: none;
      box-shadow: 0 0 10px 8px rgb(200, 196, 196);
      background-color: transparent;
      border-radius: 5px;
      padding: 5px;
    }
  }