* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .homeMain {
    width: 100vw;
    height: 100vh;
    background: url(../pictures/dogbg.jpg)  no-repeat center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .homeHeader{
    width: 100vw;
    height: 10vh;
    background: url(../pictures/dogHeader.jpg)  no-repeat center fixed;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .homeBody{
    width: 100vw;
    min-height: 90vh;
    background: url(../pictures/dogbg.jpg)  no-repeat center fixed;
    background-size: cover;
  }
  .dropdownStyle{
    width: 15vw;
    height: 5vh;
    outline: none;
    border: none;
    box-shadow: 0 0 10px 8px rgb(200, 196, 196);
    background-color: transparent;
    border-radius: 5px;
    padding: 5px;
  }